
body{
    overflow: auto;
}

#nav_container.container {
    margin-bottom: 25px;;
}

a {
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
}

.card-img-top{
    margin: 5px;
}

.card {
    margin: 10px;
}

.btn-primary {
    font-size: x-small !important;
    background-color: white !important;
    color: blue !important;
    width: 80% !important;
    height: 80% !important;
}


footer.container {
    margin-top: 25px;
    padding: 25px;
}