
body{
    overflow: auto;
}

#nav_container.container {
    margin-bottom: 25px;;
}


img {
    margin: 5px;
    width: 80%;
    height: 80%;
}


footer.container {
    margin-top: 25px;
    padding: 25px;
}