



body{
    overflow: auto;
    font-family: 'Raleway', serif;
    background-image: url("../images/herringbone.png");
}

#nav_container.container {
    margin-bottom: 25px;;
}


button.btn-info {
    margin: 5px;
}

#giphy_container{
    margin-top: 10px;
}

#giphy_container > img {
    margin:5px;
}

section.container {
    padding: 20px !important;
    margin-bottom: 50px !important;
}


#footer_row{
    border-top: 5px solid #04c1fa;
    padding: 25px !important;
}



